# Python artifacts:
*.pyc

# Eclipse IDE:
.project
.pydevproject

# PyCharm IDE:
.idea
*.iml

# Mac directory info:
.DS_Store

# Game-specific files and directories:
preferences/*
preferences.json
snippets.json
logs/
screenshots/
backups/
crashes/
contentpacks/
toondata/
banned_players.txt

# Virtual environments:
venv/
astron/sp-database/
astron/mp-database/
*.mdmp
bookmarks.dat
bookmarks.json
serversettings.json

# Generated Astron files:
astron/logs/
astron/data/
astron/astrond
astron/dev.yml